body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #2c3e50;
}

h2 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #34495e;
}

p {
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.main-head {
    background: Grey;
    color: white;
}

nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.img-warning {
    margin-left: 10px;
    width: 80px;
    height: 51px;
    position: static;
}

li.navbar {
    transition: transform 0.3s;
}

li.navbar:hover {
    transform: scale(1.025);
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: gray;
    color: white;
    text-align: center;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

li.navbar a {
    color: white;
    text-decoration: none;
}

#logo {
    flex: 1 1 20rem;
    align-items: center;
    display: flex;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .img-warning {
        width: 60px;
        height: 38px;
    }

    .container {
        padding: 10px;
    }

    li {
        font-size: 1.5rem;
    }

    footer {
        position: static;
        margin: 20px auto;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .img-warning {
        width: 50px;
        height: 32px;
    }

    .container {
        padding: 5px;
    }
}
